{% extends '__base__.html' %}

{% block title %}编辑电影{% endblock %}

{% block beforehead %}

<script>

var
    action = '{{ action }}',
    redirect = '{{ redirect }}';
//mvvm的双向绑定可能与搜狗输入法有冲突
var vm;
function initVue(movie) {
    vm = new Vue({
        el: '#form-movie',
        data: movie,
        methods: {
            submit: function (event) {
                event.preventDefault();
                startLoading();
                postApi(action, this.$data, function (err, r) {
                    if (err) {
                        showError(err);
                    }
                    else {
                        return location.assign(redirect);
                    }
                    stopLoading();
                });
            },
            cancel: function() {
                location.assign(redirect);
            }
        }
    });
}

$(function() {
    var fileInput = document.getElementById('test-image-file');
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    fileInput.addEventListener('change', function () {
        if (!fileInput.value) {
            info.innerHTML = '没有选择文件';
            return;
        }
        var file = fileInput.files[0];
        if (file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
            alert('不是有效的图片文件!');
            return;
        }
        var reader = new FileReader();
        reader.onload = function(e) {
            var data = e.target.result;
            var image = new Image();
            image.onload=function(){
                image.width = 200;
                image.height = 250;
                canvas.setAttribute("width", image.width+"px");
                canvas.setAttribute("height", image.height+"px");
                context.drawImage(image,0,0,image.width,image.height);
                var newdata = canvas.toDataURL("image/jpeg");
                vm.$data.img = newdata;
            };
            image.src= data;
        };
        reader.readAsDataURL(file);
    });
});
//  以下{}中内容并非注释
// {% if id %}

$(function () {
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    startLoading();
    getApi('/api/movies/{{ id }}', function (err, movie) {
        if (err) {
            showError(err);
        }
        else {
            stopLoading();
            var image = new Image();
            image.onload=function(){
                image.width = 200;
                image.height = 250;
                canvas.setAttribute("width", image.width+"px");
                canvas.setAttribute("height", image.height+"px");
                context.drawImage(image,0,0,image.width,image.height);
                var newdata = canvas.toDataURL("image/jpeg");
                vm.$data.img = newdata;
            };
            image.src= movie.img;
            initVue(movie);
        }
    });
});

// {% else %}

$(function () {
    initVue({
        name: '',
        duration: '',
        style: '',
        date: '',
        director: '',
        writer: '',
        star: '',
        summary: '',
        img: ''
    });
});

// {% endif %}

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/reviews">评论</a></li>
                <li><a href="/manage/movies">电影</a></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div class="uk-width-3-5">
        <form id="form-movie" v-on="submit: submit" class="uk-form uk-form-stacked" enctype="multipart/form-data">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">海报预览:</label>
                <canvas id="canvas" style="border:1px solid #c3c3c3;width:200px;height:250px;" ></canvas>
                <p>
                    <input name="image" type="file" id="test-image-file">
                </p>
                <p id="test-file-info"></p>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">电影名:</label>
                <div class="uk-form-controls">
                    <input v-model="name" name="name" type="text" placeholder="电影名" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">时长:</label>
                <div class="uk-form-controls">
                    <input v-model="duration" name="duration" type="text" placeholder="时长(分钟)" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">类型:</label>
                <div class="uk-form-controls">
                    <input v-model="style" name="style" type="text" placeholder="(类型之间以分号隔开)" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">上映日期:</label>
                <div class="uk-form-controls">
                    <input v-model="date" name="date" type="text" placeholder="如:20160101" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">导演:</label>
                <div class="uk-form-controls">
                    <textarea v-model="director" rows="2" name="director" placeholder="(导演名之间以分号隔开)" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">编剧:</label>
                <div class="uk-form-controls">
                    <textarea v-model="writer" rows="2" name="writer" placeholder="(编剧名之间以分号隔开)" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">主演:</label>
                <div class="uk-form-controls">
                    <textarea v-model="star" rows="4" name="star" placeholder="(主演名之间以分号隔开)" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">剧情简介:</label>
                <div class="uk-form-controls">
                    <textarea v-model="summary" rows="16" name="summary" placeholder="剧情简介" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
                <button v-on="click: cancel()" type="button" class="uk-button"><i class="uk-icon-times"></i> 取消</button>
            </div>
        </form>
    </div>

{% endblock %}
