{% extends '__base__.html' %}

{% block title %}电影{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    {% set i = 0 %}

    <div id="div-movies" class="uk-width-medium-3-4 main">
    {% for movie in movies %}
        <div class="uk-grid uk-grid-small uk-container uk-container-center movie" style="background-color:{% if i%2==0 %}#F2F2F2;{% else %}#FAFAFA;{% endif %}margin-top:3px;">
        {% set i=i+1 %}
            <div class="uk-width-medium-1-4 uk-margin-remove">
                <a href="/movie/{{ movie.id }}"><img alt="{{ movie.name }} ({{ movie.year }}) Poster" src="/static/images/movie_posters/{{ movie.id }}.jpg"/></a>
            </div>
            <div class="uk-width-medium-3-4">
                    <h4><a href="/movie/{{ movie.id }}">{{ movie.name }} ({{ movie.year }})</a></h4>
                <p class="subtitle">{{ movie.duration }} min<span>&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp</span>
                {% for style in movie.styles %}
                    <span>{{ style }}</span>
                    {% if style != movie.styles[movie.num_styles - 1] %}
                    <span class="ghost">&nbsp|&nbsp</span>
                    {% endif %}
                {% endfor %}
                </p>
                <div >
                    <p>Score:&nbsp&nbsp<strong>{{ movie.score }}</strong><span class='font_lighter'>/100</span><span class="num_review">&nbsp&nbsp({{ movie.num_review }} 人评价)</span></p>
                </div>
                <div>
                {% for summary in movie.summarys %}
                    {{ summary }}<br>
                {% endfor %}
                <br>
                </div>
                    <strong>导演:</strong>&nbsp&nbsp
                    {% for director in movie.directors %}
                        <span>{{ director }}</span>
                        {% if director != movie.directors[movie.num_directors - 1] %}
                        <span>,&nbsp</span>
                        {% endif %}
                    {% endfor %}
                    <br>
                    <strong>主演:</strong>&nbsp&nbsp
                    {% set starnum = 0 %}
                    {% for star in movie.stars %}
                    {% if starnum < 4 %}
                    {% set starnum = starnum + 1 %}
                        <span>{{ star }}</span>
                        {% if star != movie.stars[movie.num_stars - 1] and star !=movie.stars[3] %}
                        <span>,&nbsp</span>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
    {% else %}
        <p>很遗憾,没有找到这部电影!</p>
    {% endfor %}

        <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="/movies/search?kw={{ kw }}&page={{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="/movies/search?kw={{ kw }}&page={{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
        </ul>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.douban.com/">豆瓣</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.zhihu.com/">知乎</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://blog.csdn.net/">csdn</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
