/*
 * custom css
 */
 #star {
     margin-bottom: 20px;
 }

a:hover, a:active {
    text-decoration: none;
}

.ghost {
    color: #D8D8D8;
}

h4 {
    margin: 10px 0px 5px 0px;
}

img {
    margin-top: 10px;
}

.subtitle {
    margin: 0px 0px 8px 0px;
}

.uk-width-medium-3-4{
    color: #6E6E6E;
}

.num_review {
    color: #8258FA;
}

.main {
    border:2px solid;
    border-color: #E6E6E6;
    border-radius:25px;
    padding: 10px 20px 10px 0px;
    margin-top: 20px;
}

.movie {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.comment_avatar {
    margin-top: 0px;
}

.font_lighter {
    color: #BDBDBD;
}

#fliter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#fliter span {
    text-align: center;
    display:inline-block;
    font-size: 20px;
    width: 65px;
    height: 30px;
    padding-top: 5px;
}

#fliter span:hover {
    background-color: #E6E6E6;
}

#fliter a {
    color: #6E6E6E;
}

#fliter a:active {
    color: white;
}

.newmovies {
    font-size: 15px;
    color: blue;
}

.clickClass {
    background-color: #5882FA;
}

#fliter .clickClass a {
    color: white;
}

.history-panel {
    margin-top: 20px;
}

.history-movie {
    display: inline-block;
    padding-bottom: 20px;
}

.history-movie img {
    width: 200px;
    height: 250px;
}
.history-detail {
    padding-top: 10px;
}

.history-score {
    color: #FFA500;
}

.history-date {
    font-size: 20px;
}
